.boton-accion {
  width: 50px; /* Ajusta el ancho como desees */
  height: 50px; /* Ajusta la altura como desees */
  border-radius: 10px; /* Bordes redondeados */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto; /* Centra el botón horizontalmente */
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  font-size: 20px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.boton-accion:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}


.mesa {
  width: 20%;
  aspect-ratio: 1;
  background-color: #f4f4f4;
  border: 2px solid #ddd;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  margin: 2px; /* Reducción de márgenes */
}

.mesa.seleccionada {
  background-color: #e0e0e0;
  border-color: #007bff;
}

.numero-mesa {
  z-index: 1;
}

.icono-seleccionado {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #007bff;
  font-size: 18px;
}

.mesa:hover {
  transform: scale(1.05);
}

.mesa.ocupada {
  background-color: #ff4961;
}

.mesa.desocupada {
  background-color: #2dd36f;
}